* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  background-color: #313131;
  font-family: "Open sans", sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.no-scroll {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1460px;
  padding-inline: 15px;
  margin-inline: auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 30px;
  min-height: 72px;
}
.header__logo {
  color: #fff;
  font-size: 35px;
  max-width: 200px;
  text-align: center;
  padding-inline: 10px;
}
.header__search {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.header__search-input {
  height: 100%;
  padding: 10px;
  min-width: 260px;
}
.header__search-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-inline: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-left: 1px solid #313131;
  cursor: pointer;
  -webkit-transition: all 0.15ms ease;
  transition: all 0.15ms ease;
}
.header__search-btn:active {
  background-color: #313131;
  color: #fff;
}

.movies {
  row-gap: 30px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, minmax(24%, 1fr));
  grid-template-rows: auto-fill;
  justify-items: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .movies {
    grid-template-columns: repeat(3, minmax(24%, 1fr));
  }
}
@media (max-width: 850px) {
  .movies {
    grid-template-columns: repeat(2, minmax(24%, 1fr));
  }
}
@media (max-width: 550px) {
  .movies {
    grid-template-columns: 1fr;
  }
}

.movie {
  background-color: rgba(116, 119, 118, 0.5333333333);
  position: relative;
  max-width: 360px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  -webkit-transition: scale 0.3 ease;
  transition: scale 0.3 ease;
}
@media (hover: hover) {
  .movie:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 10px rgb(200, 240, 21);
            box-shadow: 0 0 10px rgb(200, 240, 21);
    overflow: hidden;
    background-color: #000;
    z-index: 9;
  }
}
@media (hover: none) {
  .movie:active {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 10px rgb(200, 240, 21);
            box-shadow: 0 0 10px rgb(200, 240, 21);
    overflow: hidden;
    background-color: #000;
    z-index: 9;
  }
}
.movie__image {
  position: relative;
  cursor: pointer;
  height: 500px;
}
.movie__image-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
* .movie__image-overlay:hover {
  background-color: rgba(0, 0, 0, 0);
}
.movie__info {
  padding: 5px;
  cursor: pointer;
}
.movie__info-title {
  font-size: clamp(16px, 1.7605633803vw, 25px);
  font-weight: 600;
  color: #fff;
}
.movie__info-ganre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.movie__info-ganre-item {
  background-color: rgb(200, 240, 21);
  color: #000000;
  padding: 3px;
  border-radius: 5px;
}
.movie__info-desc {
  font-weight: 400;
  font-size: clamp(14px, 1.5492957746vw, 22px);
  color: #fff;
}
.movie__info-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.movie__info-country-item {
  font-size: clamp(14px, 1.5492957746vw, 22px);
  color: #fff;
}
.movie__info-rating {
  position: absolute;
  width: 35px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  top: 3%;
  left: 3%;
  background-color: #313131;
  padding: 3px;
  border-radius: 50%;
  color: #fff;
}
.movie__info-rating--green {
  border: solid 3px green;
}
.movie__info-rating--orange {
  border: solid 3px orange;
}
.movie__info-rating--red {
  border: solid 3px red;
}

.navigate {
  text-align: center;
  padding-block: 30px;
  font-size: 30px;
}
.navigate__prev, .navigate__next {
  padding: 10px 15px;
  font-size: inherit;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.navigate__prev:active, .navigate__next:active {
  background-color: rgb(200, 240, 21);
  border-radius: 6px;
  color: #000;
}
.navigate__count {
  color: #fff;
  font-size: 20px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100dvh;
  z-index: 999;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  scale: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal.active {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scale: 1;
  padding: 10px;
  max-height: 100dvh;
}
.modal__wrapper {
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto;
  max-width: 550px;
  -webkit-box-shadow: 0 0 10px rgb(200, 240, 21);
          box-shadow: 0 0 10px rgb(200, 240, 21);
  background-color: #3f3a3a;
  color: #fff;
}
.modal__img {
  max-height: 400px;
  display: block;
  margin: 0 auto;
  font-size: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-inline: 10px;
  margin-bottom: 10px;
}
.modal__header span {
  font-weight: 700;
  margin-inline: 10px;
}
.modal__header-year {
  padding-inline: 10px;
}
.modal__info {
  padding-inline: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.modal__info-genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.modal__info-links * {
  color: #000;
}
.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}
.modal__close-Btn {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  border: 2px dashed rgb(200, 240, 21);
  border-radius: 3px;
  -webkit-animation: bdr 550ms infinite;
          animation: bdr 550ms infinite;
}
.modal__close-Btn:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 10px rgb(200, 240, 21);
          box-shadow: 0 0 10px rgb(200, 240, 21);
  background-color: #000;
  z-index: 9;
}

@-webkit-keyframes bdr {
  0% {
    border-style: dashed;
  }
  25% {
    border-style: dotted;
  }
  50% {
    border-style: dashed;
  }
  100% {
    border-style: dotted;
  }
}

@keyframes bdr {
  0% {
    border-style: dashed;
  }
  25% {
    border-style: dotted;
  }
  50% {
    border-style: dashed;
  }
  100% {
    border-style: dotted;
  }
}