@mixin adaptive-font($min: 16, $max: 36) {
  font-size: clamp(#{$min}px, #{$max / 1420 * 100}vw, #{$max}px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  background-color: #313131;
  font-family: "Open sans", sans-serif;
  transition: all 0.3s ease;
}

.container {
  max-width: 1460px;
  // overflow: hidden;
  padding-inline: 15px;
  margin-inline: auto;
}

.header {

  // .header__nav
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    min-height: 72px;
  }

  // .header__logo
  &__logo {
    color: #fff;
    font-size: 35px;
    max-width: 200px;
    text-align: center;
    padding-inline: 10px;
  }

  // .header__searh
  &__searh {
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    // .header__searh-input
    &-input {
      height: 100%;
      padding: 10px;
      min-width: 260px;
    }

    // .header__searh-btn
    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding-inline: 10px;
      background-color: transparent;
      outline: none;
      border: none;
      border-left: 1px solid #313131;
      cursor: pointer;
      transition: all 0.150ms ease;

      &:active {
        background-color: #313131;
        color: #fff;
      }
    }
  }
}


.movies {
  row-gap: 30px;
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, minmax(24%, 1fr));
  grid-template-rows: auto-fill;
  justify-items: center;
  cursor: pointer;

  @media (max-width:769px) {
    grid-template-columns: repeat(3, minmax(24%, 1fr));
  }

  @media (max-width:650px) {
    grid-template-columns: repeat(2, minmax(24%, 1fr));
  }

  @media (max-width:450px) {
    grid-template-columns: 1fr;
  }
}

.movie {
  background-color: #74777688;
  position: relative;
  max-width: 360px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  transition: scale 0.3 ease;

  @media(hover: hover) {
    &:hover{
      cursor: pointer;
      // стили для эффекта увеличения при наведении
      transform: scale(1.1); // увеличиваем изображение
      box-shadow: 0 0 10px rgb(200, 240, 21);
      overflow: hidden;
      background-color: #000;
      z-index: 9;
    }
  }

  @media(hover: none) {
    &:active {
      transform: scale(1.1); // увеличиваем изображение
      box-shadow: 0 0 10px rgb(200, 240, 21);
      overflow: hidden;
      background-color: #000;
      z-index: 9;
    }
  }

  // .movie__image
  &__image {
    position: relative;
    cursor: pointer;
    height: 500px;

    // .movie__image-img
    &-img {
      // border-radius: 5%;
      // overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100%;
      height: 100%;
      display: block;
      margin: 0;
      transition: transform 0.3s ease;
      object-fit: cover;

    }



    // .movie__image-overlay
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.3);

      * &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  // .movie__info
  &__info {
    padding: 5px;
    cursor: pointer;

    // .movie__info-title
    &-title {
      @include adaptive-font($min: 16, $max: 25);
      font-weight: 600;
      color: #fff;
    }

    &-ganre {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      align-items: center;

      &-item {
        background-color: rgb(200, 240, 21);
        color: #000000;
        padding: 3px;
        border-radius: 5px;

      }
    }

    // .movie__info-desc
    &-desc {
      font-weight: 400;
      @include adaptive-font($min: 14, $max: 22);
      color: #fff;
    }

    &-country {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;

      &-item {
        @include adaptive-font($min: 14, $max: 22);
        color: #fff;
      }
    }

    // .movie__rating
    &-rating {
      position: absolute;
      width: 35px;
      aspect-ratio: 1;
      text-align: center;
      z-index: 2;
      top: 3%;
      left: 3%;
      background-color: #313131;
      padding: 3px;
      border-radius: 50%;
      color: #fff;

      &--green {
        border: solid 3px green
      }

      &--orange {
        border: solid 3px orange
      }

      &--red {
        border: solid 3px red
      }
    }
  }
}

.navigate {
  text-align: center;
  padding-block: 30px;
  font-size: 30px;

  // .navigate__prev
  // .navigate__next
  &__prev,
  &__next {
    padding: 10px 15px;
    font-size: inherit;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;

    &:active {
      background-color: rgb(200, 240, 21);
      border-radius: 6px;
      color: #000;
    }
  }

  // .navigate__count
  &__count {
    color: #fff;
    font-size: 20px;
  }

}